<div class="card" id="card{{ cscu.pk }}">
    {% if cscu.is_success == None %}
        <div class="card-header blue-bold">
    {% elif cscu.is_success %}
        <div class="card-header green-bold">
    {% else %}
        <div class="card-header red-bold">
    {% endif %}
    <div class="row">
        <div class="col col-sm-3">
            {% if cscu.is_success == None %}
                {{ cscu.contour }} / {{ cscu.server }}
            {% else %}
                <a class="cursor-pointer" data-toggle="collapse"
                        data-target="#collapse{{ cscu.pk }}" aria-expanded="false"
                        aria-controls="collapse{{ cscu.pk }}">
                    {{ cscu.contour }} / {{ cscu.server }}
                </a>
            {% endif %}
        </div>
        <div class="col col-sm-2"><span class="align-middle">{{ cscu.servercommand }}</span></div>
        <div class="col col-sm-2">{{ cscu.user }} </div>
        <div class="col col-sm-3">
        {{ cscu.start_time|date:'d.m.Y' }} |
            {{ cscu.start_time|date:'H:i:s' }}
            {% if cscu.end_time %}
                - {{ cscu.end_time|date:'H:i:s' }}
            {% endif %}</div>
        <div class="col col-sm-1">
            {% if cscu.is_success == None %}
                Выполняется
            {% elif cscu.is_success %}
                Успех
            {% else %}
                Ошибка
            {% endif %}
        </div>

    </div>
    </div>
    <div id="collapse{{ cscu.pk }}" class="collapse" aria-labelledby="heading{{ cscu.pk }}"
         data-parent="#accordionObjects">
        <div class="card-body">
            {{ cscu.cmd_output|linebreaks }}
        </div>
    </div>
    </div>