{% extends 'main/base.html' %}
{% block title %}
    <title>Список комманд</title>
{% endblock %}
{% block header %}
    Список комманд
{% endblock %}
{% block content %}
    {% if cscu_in_progress or object_list %}
        <div class="row">
            <div class="col col-sm-3">Название контура / Название машины</div>
            <div class="col col-sm-2">Название команды</div>
            <div class="col col-sm-2">Пользователь</div>
            <div class="col col-sm-3">Время начала - время завершения</div>
            <div class="col col-sm-1">Статус</div>
        </div>
    {% else %}
        Ни одной команды ещё не выполнено
    {% endif %}

    {% if cscu_in_progress or object_list %}
        <div class="accordion" id="accordionObjects">

            {% if cscu_in_progress %}
                <p class="lead" id="progress_lead">Задачи в очереди</p>
            {% else %}
                <p class="lead d-none" id="progress_lead">Задачи в очереди</p>
            {% endif %}

            <div id="in_progress">
                {% if cscu_in_progress %}
                    {% for cscu in cscu_in_progress %}
                        {% include "main/collapse_list.html" %}
                    {% endfor %}
                {% endif %}
            </div>

            {% if object_list %}
                <p class="lead" id="objects_lead">Выполненные команды</p>
            {% else %}
                <p class="lead d-none" id="objects_lead">Задачи в очереди</p>
            {% endif %}

            <div id="object_list">
                {% if object_list %}
                    <!-- TODO so many queries here > ~200 -->
                    {% for cscu in object_list %}
                        {% include "main/collapse_list.html" %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}
    <nav aria-label="Page navigation">
        <ul class="pagination bottom">
            <a class="page-link" href="?page=1">В начало</a>
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Назад</a>
                </li>
            {% endif %}
            <span class="current">
          <li class="page-item">
              <a class="page-link" href="#">{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</a>
          </li>
      </span>
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперёд</a>
                </li>
            {% endif %}
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">В конец</a>
        </ul>
    </nav>
{% endblock %}

{% block additional_script %}
    <script>
        var Socket = new ReconnectingWebSocket(
            'ws://' + window.location.host +
            '/ws/cscu-list/');

        Socket.onopen = function () {
            console.log("Connection successful.");
        };

        Socket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            console.log(data['message']);
            if (data['message']['type'] == 'manage_cscu')
                manage_cscu(data['message']['object']);
        };

        Socket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        function manage_cscu(object) {

            if (object['is_deleted'] == true){
                document.getElementById('card' + object['cscu_pk']).remove();
                $('#progress_lead').addClass('d-none');
            }
            else if (object['is_success'] == null) {
                $('#in_progress').prepend(object['template']);
                $('#progress_lead').removeClass('d-none');
            } else {
                // if object exists in "in progress" pane
                card = document.getElementById('card' + object['cscu_pk']);
                if (card) {
                    card.remove();
                    if ($('#in_progress').children().length <= 0)
                        $('#progress_lead').addClass('d-none');
                }
                $('#object_list').prepend(object['template']);
                $('#objects_lead').removeClass('d-none');
            }
        }
    </script>
{% endblock %}