{% extends 'main/base.html' %}
{% block title %}
    <title>Список комманд</title>
{% endblock %}
{% block header %}
    Выберите параметры запуска и команду для работы
{% endblock %}
{% block content %}
    <div class="alert alert-warning d-none" role="alert" id="warning-text"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="input-group-sm col-md-6 mb-3 p-3" id="delay-block">
                <div class="mb-3">
                    <button type="button" class="close cancel-choose" id="range-to-default"
                            data-cancel="#delayRange,#delayAmount" for="delay-block">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <label>Отложенный запуск:&nbsp;через</label>
                    <output name="delayAmount" id="delayAmount"
                            for="delayRange" value="0" class="delayed-start">0
                    </output>
                    минут
                </div>
                <input type="range" class="custom-range" name="delayRange" min="0"
                       max="60" step="1" value="0" id="delayRange" data-param="delayTime"
                       oninput="delayAmount.value=delayRange.value">

            </div>
            <div class="input-group-sm col-md-6 mb-3 p-3" id="start-block">
                <div class="mb-3">
                    <button type="button" class="close cancel-choose" id="time-to-default"
                            data-cancel="#startTime" for="start-block">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <label>Запуск ко времени</label>
                </div>
                <input class="form-control" type="time" id="startTime" data-param="startTime">
            </div>

        </div>

        <div class="row">
            <div class="list-group col-md-12" id="command-list">
                Выберите комманду
                {% for command in object_list %}
                    <a class="list-group-item list-group-item-action flex-column align-items-start command"
                       id="command{{ command.id }}" data-param="command" value="{{ command.name }}">
                        <div class="d-flex w-100 justify-content-between command-name">
                            <h5 class="mb-1">{{ command.name }}</h5>
                            <small>Locked: False</small>
                        </div>
                        <p class="mb-1">{{ command.description }}</p>
                        <!--<small>Donec id elit non mi porta.</small>-->
                    </a>
                {% endfor %}
            </div>
            <div class="col-md-6 d-none" id="servers-block">
                Выберите сервера для выполнения<br>
                <div id="server-list"></div>
            </div>
        </div>
        <div class="d-none" id="result">Запустить команду
            <span id="result-message">
                <span id="command-command" class="d-none"><kbd></kbd></span>
                <span id="command-delayTime" class="d-none">через <kbd></kbd> минут</span>
                <span id="command-startTime" class="d-none">в <kbd></kbd></span>
                <span id="command-server" class="d-none">на сервере(ах) <kbd></kbd></span>
            </span>
        </div>
        <button>Запуск</button>
    </div>
    <script>
        // 'use strict';
        function refresh_result_message() {
            // function aggregates data from controls to result message

            function return_param(param_name) {
                // returns filtered param(s) from aggregated list of elements

                return {
                    [param_name]: $(choosen_params).filter(function () {
                        return ($(this).attr('data-param') == param_name) === true;
                    })
                };
            }

            var choosen_params = document.querySelectorAll('[data-choosen="active"]'),
                params_list = [return_param('command'),
                    return_param('server'),
                    return_param('delayTime'),
                    return_param('startTime')];

             $('#result').removeClass('d-none');

            // iterate through array of params
            for (var i in params_list) {

                // iterate through each param dictionary with getting key:control values
                Object.entries(params_list[i]).forEach(([key, control]) => {

                    // if control for param is activated
                    if (control.length > 0){
                        // construct and set individual block of result message
                        // individuals by combination of $('#command-' + key + ' kbd')
                        var values = '';
                        for (var j=0; j < control.length; j++) {

                            if (j > 0)
                                values += ', ';

                            // if control have not val attribute (imput type = range/time, etc.)
                            if ($(control[j]).val() == '')
                                values += $(control[j]).attr('value');
                            else
                                values += $(control[j]).val();
                        }

                        $('#command-' + key + ' kbd').text(values);
                        $('#command-' + key).removeClass('d-none');
                    } else {
                        // hide block from result message if there is nothing choosen
                        $('#command-' + key).addClass('d-none');
                    }
                });
            }
        }

        function construct_servers(dict) {
            var dict = JSON.parse(dict),
                animate_delay = 400;

            function set_listeners_on_servers_check_boxes() {
                // get server check boxes elements
                var servers = document.querySelectorAll('[data-param="server"]');

                $(servers).on("change", function () {
                    if (this.checked)
                        $(this).attr('data-choosen', 'active');
                    else
                        $(this).attr('data-choosen', '');

                    refresh_result_message();
                });
            };

            function form_choise_block(server_name, server_pk) {
                // returns choise structured block for server

                return '<div class="col-auto my-1">' +
                    '<div class="custom-control custom-checkbox mr-sm-2">' +
                    '<input type="checkbox" class="custom-control-input" data-param="server"' +
                    'value="' + server_name + '"' +
                    'data-server="' + server_pk + '" id="server-checkbox-' + server_pk + '">' +
                    '<label class="custom-control-label" for="server-checkbox-' + server_pk + '">' +
                    server_name + '</label>' +
                    '</div>' +
                    '</div>'
            }

            // clean up div contained someth !!Important!
            $('#server-list').empty();

            // dictionary unpacking
            // structure:
            // [{'PSI': [{'server_name': 'sblsmapp-psi', 'server_pk': 1, any keys}]},
            // {'DEV': [{'server_name': 'sblsmapp-dev', 'server_pk': 2, any keys},
            //          {'server_name': 'sblsmweb-dev', 'server_pk': 4,any keys}]},
            // {'PROD': [{'server_name': 'sblsmapp-prod', 'server_pk': 3, any keys}]}]
            for (var key in dict) {
                for (var contour in dict[key]) {
                    $('#server-list').append(contour);
                    for (var server in dict[key][contour])
                        //console.log(dict[key][contour][server])
                        $('#server-list').append(form_choise_block(dict[key][contour][server]['server_name'],
                            dict[key][contour][server]['server_pk']));
                }
            }

            $('#command-list').animate({maxWidth: "50%"}, animate_delay);
            setTimeout(function () {
                $('#servers-block').removeClass('d-none');
            }, animate_delay);

            set_listeners_on_servers_check_boxes()
        }

        var commandSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/commands/');

        commandSocket.onopen = function () {
            console.log("Connection successful.");
        };
        commandSocket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            construct_servers(data['servers']);
            // sshOutput.innerText += (message.trim() + '\n');
        };

        commandSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly.');
        };

        // get command list elements
        var commands = document.querySelectorAll('[data-param="command"]');

        // set click event on each list element
        for (var i = 0; i < commands.length; i++) {
            commands[i].addEventListener('click', function () {

                // first remove active classes for all list elems
                $('a.command').removeClass('active');

                // add active to clicked list elem
                $(this).addClass('active');

                // set data-choosen attribute to active (needed to choose params for execution)
                // clean up others first
                $('a.command').attr('data-choosen', '');
                $(this).attr('data-choosen', 'active');

                commandSocket.send(JSON.stringify({
                    'command_pk': this.id.replace(/^\D+/g, '')
                }));

                refresh_result_message();
            });
        }

        warning_block = $('#warning-text');
        function trigger_warning(message) {
            // function to show warning message-block
            // pass message arg to show block

            if (message !== undefined) {
                warning_block.text(message);
                warning_block.removeClass('d-none');
            } else {
                warning_block.addClass('d-none');
            }
        }

        function manage_shadow(target) {
            // function to control shadow on time-picker and delay-timer blocks
            // pass changed control as target

            // add shadow to choosen block
            if (target.val() != $('#delayRange').attr('min') && target.val() != "") {
                target.parent().addClass('block-choosen');
            } else {
                target.parent().removeClass('block-choosen');
            }

            time_blocks = $("#delay-block,#start-block");

            // add concurrent (red) shadow to both blocks
            if (time_blocks.filter(".block-choosen").length == time_blocks.length) {
                time_blocks.addClass('concurrent-param');
                trigger_warning('Удалите один из параметров запуска выделенный красным, нажав на крестик.')
            } else {
                time_blocks.removeClass('concurrent-param');
                trigger_warning();
            }
        }

        // close button click event
        $(".cancel-choose").click(function () {
            range_id = $(this).attr('data-cancel');
            $(range_id).val(0);
            $(range_id).attr('data-choosen', '');
            $(range_id).trigger('change', true);
        });

        $("#delayRange, #startTime").on("change", function (e, cleanup) {
            // pass cleanup == true if invoked to unset values
            target = $(e.target);

            // set data-choosen attribute to active (needed to choose params for execution)
            if (!cleanup)
                target.attr('data-choosen', 'active');

            // set value in result message
            $('#command-delay').text(e.target.value);

            manage_shadow(target);
            refresh_result_message();
        });
    </script>
{% endblock %}