{% extends 'main/base.html' %}
{% block title %}
    <title>Работа с сервером</title>
{% endblock %}
{% block content %}
    <div class="card mb-2 d-none" id="ssh-out-block">
        <div class="card-header">
            Command output:
            <button type="button" class="close" id="closeCommandDiv">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body" id="ssh-out-scrollblock">
            <p class="card-text" id="ssh-output"><samp>{{ command_output }}</samp></p>
        </div>
    </div>
    <div class="input-group mb-3 d-none" id="manual-input-block">
        <input type="text" class="form-control" placeholder="Введите команду здесь и нажмите Enter" id="manual-command">
    </div>
    <div class="card-group" id="command-group">
        {% for command in commands %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ command.name }}</h5>
                    <p class="card-text">{{ command.description }}</p>
                </div>
                <div class="card-execute">
                    {% if command.command == "custom_command" %}
                        <button type="button" class="btn btn-success btn-md btn-block disabled"
                                id="show-manual-input">Выполнить
                        </button>
                    {% else %}
                        <button class="btn btn-primary btn-md btn-block disabled" data-command="execute"
                                id="{{ command.id }}">Выполнить
                        </button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block additional_script %}
    <script>
        var serverId = {{ server_id_json }};
        var sshOutput = document.querySelector('#ssh-output');
        var sshOutputBlock = document.querySelector('#ssh-out-scrollblock');

        function toggle_block() {
            // toggle if block is hidden
            sshOutBlock = document.querySelector('#ssh-out-block');
            if ($.inArray('d-none', sshOutBlock.classList) >= 0) {
                sshOutBlock.classList.toggle('d-none');
            }
        }

        var commandSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/server/' + serverId + '/');

        commandSocket.onopen = function () {
            $('div#command-group button').removeClass('disabled');
            console.log("Connection successful.");
        };
        commandSocket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            sshOutput.innerText += (message.trim() + '\n');
            toggle_block();
            // keep eyes on buttom of scrolled block
            sshOutputBlock.scrollTop = sshOutputBlock.scrollHeight - sshOutputBlock.clientHeight;
        };

        commandSocket.onclose = function (e) {
            $('div#command-group button').addClass('disabled');
            console.error('Chat socket closed unexpectedly.');
        };

        function execute_command(e) {
            // toggle_block();
            if (e == 'custom_command') {
                // if invoked custom command execution
                commandSocket.send(JSON.stringify({
                    'command': document.querySelector('#manual-command').value
                    //,'disconnect': 'Y'
                }));
            } else
            // send command pk to server
                sshOutput.innerText = '';
            commandSocket.send(JSON.stringify({
                'command_pk': e.target.id
                //,'disconnect': 'Y'
            }));
        }
        var executionButtons = document.querySelectorAll('button[data-command]:not([value=""])');
        for (var i = 0; i < executionButtons.length; i++) {
            executionButtons[i].addEventListener('click', function (e) {
                execute_command(e)
            }, (i));
        }
        ;

        document.querySelector('#closeCommandDiv').onclick = function () {
            document.querySelector('#ssh-out-block').classList.toggle('d-none');
        };
        document.querySelector('#show-manual-input').onclick = function () {
            document.querySelector('#manual-input-block').classList.toggle('d-none');
            document.querySelector('#manual-command').focus();
        };

        $('input[type=text]').on('keydown', function (e) {
            // Enter button press
            if (e.which == 13) {
                e.preventDefault();
                execute_command('custom_command');
                document.querySelector('#manual-command').value = '';
            }
        });
    </script>
{% endblock %}