{% extends 'main/base.html' %}
{% block title %}
    <title>Список доступных серверов</title>
{% endblock %}
{% block header %}
    Выберите сервер для работы
{% endblock %}
{% block content %}
    <div class="card-group">
    {% for dict in object_list %}
        {% for contour, servers in dict.items %}
             <div class="col-server">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ contour }}</h5>
                        <p class="card-text">
                        <div class="list-group">
                            {% for server in servers %}
                                <a href="{{ server.get_absolute_url }}" class="list-group-item list-group-item-action">
                                    {{ server.name }}:
                                    <small>{{ server.ip_address }}</small>
                                    <span class="badge {% if server.status == 'online' %}badge-success{% else %}badge-danger{% endif %}
                badge-pill float-right">{{ server.status }}</span>
                                </a>
                            {% endfor %}
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
 </div>

{% endblock %}