{% extends 'main/base.html' %}
{% block title %}
    <title>Работа с сервером</title>
{% endblock %}
{% block content %}
    <div class="card mb-2 d-none" id="ssh-out-block">
        <div class="card-header">
            Command output:
            <button type="button" class="close" id="closeCommandDiv">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <p class="card-text" id="ssh-output"><samp>{{ command_output }}</samp></p>
        </div>
    </div>
    <div class="card-group">
        {% for command in commands %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ command.name }}</h5>
                    <p class="card-text">{{ command.description }}</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-link btn-sm" data-command="execute" id="{{ command.id }}">Execute</button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block additional_script %}
    <script>
        var serverId = {{ server_id_json }};
        var sshOutput = document.querySelector('#ssh-output');

        var commandSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/server/' + serverId + '/');

        commandSocket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            sshOutput.innerText += (message + '\n');
        };

        commandSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        var executionButtons = document.querySelectorAll('button[data-command]:not([value=""])');
        for (var i = 0; i < executionButtons.length; i++) {
            executionButtons[i].addEventListener('click', function (e) {
                sshOutput.innerText = '';
                /* toggle if block is hidden */
                sshOutBlock = document.querySelector('#ssh-out-block');
                if ($.inArray('d-none', sshOutBlock.classList) >= 0) {
                    sshOutBlock.classList.toggle('d-none');
                }
                /* send command pk to server */
                commandSocket.send(JSON.stringify({
                    'command_pk': e.target.id
                }));
            }, (i));
        };

        document.querySelector('#closeCommandDiv').onclick = function () {
            document.querySelector('#ssh-out-block').classList.toggle('d-none');
        };
    </script>
{% endblock %}